<section class="hero">
    <div class="hero__image">
    <img src="{{ asset('build/images/banner-home.b301140a.webp') }}" alt="Collection de sneakers">
    </div>
    <div class="hero__content">
    <h2>Must Have</h2>
    <p>Que vous cherchiez un classique ou la dernière collab', votre bonheur se trouve ici.</p>
    <button class="button">Découvrir</button>
    </div>
</section>